openapi: 3.0.3
info:
  title: Chimera Operator API
  description: High-frequency copy-trading system for Solana
  version: 1.0.0
  contact:
    name: Chimera Support
    email: support@chimera.dev

servers:
  - url: https://api.chimera.dev/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local development server

tags:
  - name: Health
    description: Health check endpoints
  - name: Webhook
    description: Webhook signal submission
  - name: Authentication
    description: Authentication endpoints
  - name: Positions
    description: Position management
  - name: Wallets
    description: Wallet management
  - name: Trades
    description: Trade history and export
  - name: Metrics
    description: Performance metrics
  - name: Configuration
    description: System configuration
  - name: Incidents
    description: Incident management

paths:
  /health:
    get:
      tags:
        - Health
      summary: Simple health check
      description: Basic health check for load balancers
      operationId: healthSimple
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /api/v1/health:
    get:
      tags:
        - Health
      summary: Detailed health check
      description: Comprehensive health check with system metrics
      operationId: healthDetailed
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/v1/webhook:
    post:
      tags:
        - Webhook
      summary: Submit trading signal
      description: Submit a trading signal from external provider
      operationId: submitWebhook
      security:
        - hmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Signal accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /api/v1/auth/wallet:
    post:
      tags:
        - Authentication
      summary: Authenticate with wallet
      description: Authenticate using Solana wallet signature
      operationId: walletAuth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletAuthRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/positions:
    get:
      tags:
        - Positions
      summary: List positions
      description: Get all positions with optional state filter
      operationId: listPositions
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          description: Filter by state
          schema:
            type: string
            enum: [ACTIVE, EXITING, CLOSED]
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/positions/{trade_uuid}:
    get:
      tags:
        - Positions
      summary: Get position
      description: Get a single position by trade UUID
      operationId: getPosition
      security:
        - bearerAuth: []
      parameters:
        - name: trade_uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Position details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/wallets:
    get:
      tags:
        - Wallets
      summary: List wallets
      description: Get all tracked wallets
      operationId: listWallets
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [ACTIVE, CANDIDATE, REJECTED]
      responses:
        '200':
          description: List of wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsResponse'

  /api/v1/wallets/{address}:
    get:
      tags:
        - Wallets
      summary: Get wallet
      description: Get a single wallet by address
      operationId: getWallet
      security:
        - bearerAuth: []
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Wallets
      summary: Update wallet
      description: Update wallet status (promote/demote)
      operationId: updateWallet
      security:
        - bearerAuth: []
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalletRequest'
      responses:
        '200':
          description: Wallet updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/trades:
    get:
      tags:
        - Trades
      summary: List trades
      description: Get trades with filtering and pagination
      operationId: listTrades
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          schema:
            type: string
        - name: strategy
          in: query
          schema:
            type: string
            enum: [SHIELD, SPEAR, EXIT]
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of trades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResponse'

  /api/v1/trades/export:
    get:
      tags:
        - Trades
      summary: Export trades
      description: Export trades in CSV, JSON, or PDF format
      operationId: exportTrades
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          schema:
            type: string
        - name: strategy
          in: query
          schema:
            type: string
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [csv, json, pdf]
      responses:
        '200':
          description: Export file
          content:
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trade'
            application/pdf:
              schema:
                type: string
                format: binary

  /api/v1/metrics/performance:
    get:
      tags:
        - Metrics
      summary: Get performance metrics
      description: Get 24H, 7D, 30D PnL metrics
      operationId: getPerformanceMetrics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceMetrics'

  /api/v1/metrics/strategy/{strategy}:
    get:
      tags:
        - Metrics
      summary: Get strategy performance
      description: Get strategy-specific performance metrics
      operationId: getStrategyPerformance
      security:
        - bearerAuth: []
      parameters:
        - name: strategy
          in: path
          required: true
          schema:
            type: string
            enum: [SHIELD, SPEAR]
        - name: days
          in: query
          schema:
            type: integer
            default: 30
      responses:
        '200':
          description: Strategy performance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyPerformance'

  /api/v1/config:
    get:
      tags:
        - Configuration
      summary: Get configuration
      description: Get current system configuration
      operationId: getConfig
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

    put:
      tags:
        - Configuration
      summary: Update configuration
      description: Update system configuration
      operationId: updateConfig
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/config/circuit-breaker/reset:
    post:
      tags:
        - Configuration
      summary: Reset circuit breaker
      description: Reset circuit breaker to resume trading
      operationId: resetCircuitBreaker
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Circuit breaker reset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitBreakerResetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/incidents/dead-letter:
    get:
      tags:
        - Incidents
      summary: List dead letter queue
      description: Get failed operations from dead letter queue
      operationId: listDeadLetterQueue
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Dead letter queue items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeadLetterResponse'

  /api/v1/incidents/config-audit:
    get:
      tags:
        - Incidents
      summary: List config audit
      description: Get configuration change history
      operationId: listConfigAudit
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Config audit entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigAuditResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication using API key or JWT
    hmacAuth:
      type: apiKey
      in: header
      name: X-Signature
      description: HMAC-SHA256 signature of timestamp + payload

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        uptime_seconds:
          type: integer
        queue_depth:
          type: integer
        rpc_latency_ms:
          type: integer
        last_trade_at:
          type: string
          format: date-time
          nullable: true
        database:
          $ref: '#/components/schemas/ComponentHealth'
        rpc:
          $ref: '#/components/schemas/ComponentHealth'
        circuit_breaker:
          $ref: '#/components/schemas/CircuitBreakerStatus'
        price_cache:
          $ref: '#/components/schemas/PriceCacheStatus'

    ComponentHealth:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        message:
          type: string
          nullable: true

    CircuitBreakerStatus:
      type: object
      properties:
        state:
          type: string
        trading_allowed:
          type: boolean
        trip_reason:
          type: string
          nullable: true
        cooldown_remaining_secs:
          type: integer
          nullable: true

    PriceCacheStatus:
      type: object
      properties:
        total_entries:
          type: integer
        tracked_tokens:
          type: integer

    WebhookRequest:
      type: object
      required:
        - strategy
        - token
        - action
        - amount_sol
        - wallet_address
      properties:
        strategy:
          type: string
          enum: [SHIELD, SPEAR, EXIT]
        token:
          type: string
        token_address:
          type: string
          nullable: true
        action:
          type: string
          enum: [BUY, SELL]
        amount_sol:
          type: number
          format: float
        wallet_address:
          type: string
        trade_uuid:
          type: string
          nullable: true

    WebhookResponse:
      type: object
      properties:
        status:
          type: string
          enum: [accepted, rejected]
        trade_uuid:
          type: string
        reason:
          type: string
          nullable: true

    WalletAuthRequest:
      type: object
      required:
        - address
        - message
        - signature
      properties:
        address:
          type: string
        message:
          type: string
        signature:
          type: string

    WalletAuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/AuthUser'

    AuthUser:
      type: object
      properties:
        identifier:
          type: string
        role:
          type: string
          enum: [readonly, operator, admin]

    Position:
      type: object
      properties:
        id:
          type: integer
        trade_uuid:
          type: string
        wallet_address:
          type: string
        token_address:
          type: string
        token_symbol:
          type: string
          nullable: true
        strategy:
          type: string
          enum: [SHIELD, SPEAR]
        entry_amount_sol:
          type: number
        entry_price:
          type: number
        entry_tx_signature:
          type: string
        current_price:
          type: number
          nullable: true
        unrealized_pnl_sol:
          type: number
          nullable: true
        unrealized_pnl_percent:
          type: number
          nullable: true
        state:
          type: string
          enum: [ACTIVE, EXITING, CLOSED]
        exit_price:
          type: number
          nullable: true
        exit_tx_signature:
          type: string
          nullable: true
        realized_pnl_sol:
          type: number
          nullable: true
        realized_pnl_usd:
          type: number
          nullable: true
        opened_at:
          type: string
          format: date-time
        last_updated:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
          nullable: true

    PositionsResponse:
      type: object
      properties:
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        total:
          type: integer

    Wallet:
      type: object
      properties:
        id:
          type: integer
        address:
          type: string
        status:
          type: string
          enum: [ACTIVE, CANDIDATE, REJECTED]
        wqs_score:
          type: number
          nullable: true
        roi_7d:
          type: number
          nullable: true
        roi_30d:
          type: number
          nullable: true
        trade_count_30d:
          type: integer
          nullable: true
        win_rate:
          type: number
          nullable: true
        max_drawdown_30d:
          type: number
          nullable: true
        avg_trade_size_sol:
          type: number
          nullable: true
        last_trade_at:
          type: string
          format: date-time
          nullable: true
        promoted_at:
          type: string
          format: date-time
          nullable: true
        ttl_expires_at:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WalletsResponse:
      type: object
      properties:
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/Wallet'
        total:
          type: integer

    UpdateWalletRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ACTIVE, CANDIDATE, REJECTED]
        reason:
          type: string
          nullable: true
        ttl_hours:
          type: integer
          nullable: true
          description: Time-to-live in hours (only for ACTIVE status)

    WalletUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
        wallet:
          $ref: '#/components/schemas/Wallet'
          nullable: true
        message:
          type: string

    Trade:
      type: object
      properties:
        id:
          type: integer
        trade_uuid:
          type: string
        wallet_address:
          type: string
        token_address:
          type: string
        token_symbol:
          type: string
          nullable: true
        strategy:
          type: string
          enum: [SHIELD, SPEAR, EXIT]
        side:
          type: string
          enum: [BUY, SELL]
        amount_sol:
          type: number
        price_at_signal:
          type: number
          nullable: true
        tx_signature:
          type: string
          nullable: true
        status:
          type: string
          enum: [PENDING, QUEUED, EXECUTING, ACTIVE, EXITING, CLOSED, FAILED, RETRY, DEAD_LETTER]
        retry_count:
          type: integer
        error_message:
          type: string
          nullable: true
        pnl_sol:
          type: number
          nullable: true
        pnl_usd:
          type: number
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TradesResponse:
      type: object
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    PerformanceMetrics:
      type: object
      properties:
        pnl_24h:
          type: number
        pnl_7d:
          type: number
        pnl_30d:
          type: number
        pnl_24h_change_percent:
          type: number
          nullable: true
        pnl_7d_change_percent:
          type: number
          nullable: true
        pnl_30d_change_percent:
          type: number
          nullable: true

    StrategyPerformance:
      type: object
      properties:
        strategy:
          type: string
        win_rate:
          type: number
        avg_return:
          type: number
        trade_count:
          type: integer
        total_pnl:
          type: number

    ConfigResponse:
      type: object
      properties:
        circuit_breakers:
          $ref: '#/components/schemas/CircuitBreakers'
        strategy_allocation:
          $ref: '#/components/schemas/StrategyAllocation'
        jito_tip_strategy:
          $ref: '#/components/schemas/JitoTipStrategy'
        rpc_status:
          $ref: '#/components/schemas/RpcStatus'

    CircuitBreakers:
      type: object
      properties:
        max_loss_24h:
          type: number
        max_consecutive_losses:
          type: integer
        max_drawdown_percent:
          type: number
        cool_down_minutes:
          type: integer

    StrategyAllocation:
      type: object
      properties:
        shield_percent:
          type: integer
        spear_percent:
          type: integer

    JitoTipStrategy:
      type: object
      properties:
        tip_floor:
          type: number
        tip_ceiling:
          type: number
        tip_percentile:
          type: integer
        tip_percent_max:
          type: number

    RpcStatus:
      type: object
      properties:
        primary:
          type: string
        active:
          type: string
        fallback_triggered:
          type: boolean

    UpdateConfigRequest:
      type: object
      properties:
        circuit_breakers:
          $ref: '#/components/schemas/CircuitBreakers'
        strategy_allocation:
          $ref: '#/components/schemas/StrategyAllocation'

    CircuitBreakerResetResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        previous_state:
          type: string
        new_state:
          type: string

    DeadLetterItem:
      type: object
      properties:
        id:
          type: integer
        trade_uuid:
          type: string
          nullable: true
        payload:
          type: string
        reason:
          type: string
        error_details:
          type: string
          nullable: true
        source_ip:
          type: string
          nullable: true
        retry_count:
          type: integer
        can_retry:
          type: boolean
        received_at:
          type: string
          format: date-time
        processed_at:
          type: string
          format: date-time
          nullable: true

    DeadLetterResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeadLetterItem'
        total:
          type: integer

    ConfigAuditItem:
      type: object
      properties:
        id:
          type: integer
        key:
          type: string
        old_value:
          type: string
          nullable: true
        new_value:
          type: string
        changed_by:
          type: string
        change_reason:
          type: string
          nullable: true
        changed_at:
          type: string
          format: date-time

    ConfigAuditResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ConfigAuditItem'
        total:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: string
          nullable: true

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Validation"
            message: "Invalid request parameters"

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Unauthorized"
            message: "Authentication required"

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Forbidden"
            message: "Insufficient permissions"

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "NotFound"
            message: "Resource not found"

    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "RateLimit"
            message: "Rate limit exceeded"

    ServiceUnavailable:
      description: Service unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "ServiceUnavailable"
            message: "Circuit breaker tripped"
